<%- include('base', {
  title: 'Good News!',
  body: `
    <p>We're pleased to inform you that your property listing has been approved and is now live on our platform!</p>
    
    <p>Your listing is now visible to potential buyers and can be viewed by clicking the button below:</p>
    
    <div style="text-align: center;">
      <a href="<%= appUrl %>/property/<%= propertyId %>" class="button">
        View Your Listing
      </a>
    </div>
    
    <p>If you need to make any changes to your listing, you can do so from your dashboard.</p>
  `
}) %>